.hidden {
  display: none;
}
.errorMsg {
  color: red !important;
}
.ActivationText {
  color: #0a101d;
  font-size: 21px;
}
.VerificationCheckbox {
  margin-right: 10px;
}
.terms1 {
  color: rgb(170, 178, 190);
}
.ActivationTerms {
  background: #fde047;
  color: #0a101d;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.ActivationButton {
  color: #0a101d;
  background: #fde047;
  font-size: 21px;
  border-style: none;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 20px;
  margin-bottom: 5%;
  font-weight: 500;
}
